.filters {
    position: relative;
    background: white;
    height: 70px;
    width: 100%;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 4px;
    display: flex;
    align-items: center;
}
@media (max-width: 768px) {
    .filters {
        height: max-content;
        margin: 10px;
        border: none;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .filters {
        margin: auto 10px;
    }
}
.filters > button {
    position: absolute;
    font-size: 18px;
    background: #FF5A5F;
    color: #ffffff;
    height: 48px;
    width: 20%;
    border-style: none;
    border-radius: 4px;
    text-align: center;
    margin-right: 30px;
    text-align: center;
    line-height: 48px;
    right: 0;
}
@media (max-width: 768px) {
    .filters > button {
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
.filters > button:hover {
    opacity: 90%;
}
.locations,
.amenities {
    position: relative;
    height: 100%;
    width: 25%;
    padding-left: 60px;
    line-height: 0%;
    z-index: 1;
}
@media (max-width: 768px) {
    .locations,
    .amenities {
        margin-bottom: 50px;
        width: 50%;
        border: #DDDDDD solid 1px;
        border-radius: 4px;
        padding-left: 10px;
        align-self: center;
    }
    .locations {
        margin-right: 2px;
    }
}
.locations {
    border-right: #DDDDDD solid 1px;
}
.locations h3,
.amenities h3 {
    padding-top: 10px;
    font-weight: 600;
}
.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
}
.locations > .popover,
.amenities > .popover {
    display: none;
    background: #FAFAFA;
    border:  #DDDDDD solid 1px;
    border-radius: 4px;
    position: absolute;
    transform: translate(-60px, -8px);
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 25px;
    text-align: justify;
    z-index: inherit;
}
@media (max-width: 768px) {
    .locations > .popover,
    .amenities > .popover {
        transform: translateY(-12px);
        margin-left: -10px;
        height: 300px;
    }
    .locations .popover > :nth-child(2){
        position: absolute;
        width: 100%;
    }
}
ul {
    list-style: none;
}
.locations .popover > li {
    transform: translateX(-10px);
    padding-top: 20px;
}
.locations .popover > li p {
    padding-top: 10px;
}
.locations:hover > .popover,
.amenities:hover > .popover {
    display: block;
}
.amenities .popover {
    padding-top: 40px;
}
.amenities .popover > li {
    padding-top: 5px;
}